<!doctype html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="./static/favicon.png"/>
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="./../static/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <!-- <script src="static./jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <title>{% block title %}{% endblock %} - ČNUT ITF</title>
    {% block head %}{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                {% if not session.logged_in %}
                <li><a href="{{ url_for('register') }}">Registrovat</a></li>
                <li><a href="{{ url_for('login') }}">Přihlásit</a></li>
                {% else %}
                <li role="presentation" class="active"><a href="{{ url_for('show_competitions') }}">Soutěže</a></li>
                <li role="presentation"><a href="{{ url_for('view_members') }}">Tým</a></li>
                {% if session.is_admin %}
                <li role="presentation"><a href="{{ url_for('administration') }}">Administrace</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Odhlásit</a></li>
                {% endif %}
            </ul>
        </nav>
        <h3 class="text-muted">{% block page_title %}{% endblock %}</h3>
        {% block nav %}{% endblock %}
    </div>
    <br/><br/>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
    <br/><br/>
    <footer class="footer">
        <p>&copy; Česká Národní Unie Taekwon-Do ITF 2016</p>
    </footer>
</div>
</body>
</html>
