{% extends "layout.html" %}
{% block title %}Přihlášení{% endblock %}
{% block page_title %}Přihlášení{% endblock %}
{% block body %}
{% if error %}
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {{ error }}
    </div>
{% endif %}
<form action="{{ url_for('login') }}" method=post>
    <dl>
        <div class="row">
            <div class="col-sm-4">&nbsp;</div>
            <div class="col-sm-1">
                <div class="row">
                    <dt><strong>Email</strong>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <dd><input type=text name=email autofocus></dd>
                </div>
            </div>
            <div class="col-sm-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-sm-4">&nbsp;</div>
            <div class="col-sm-1">
                <div class="row">
                    <dt><strong>Heslo</strong>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <dd><input type=password name=password></dd>
                </div>
                <div align="center"><br><input type=submit value=Login class="btn btn-info"></div>
            </div>
            <div class="col-sm-5">&nbsp;</div>
        </div>
    </dl>

</form>
{% endblock %}
