{% extends "layout.html" %}
{% block title %}Členové{% endblock %}
{% block head %}
    <!-- jQuery library -->
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script>
      function delMember(itf_id) {
          $.getJSON(
                  $SCRIPT_ROOT + '/_delete_member',
                  data = { id:itf_id },
                  function (data) { $('#'+itf_id).remove(); }
          )
      };
      function edit_member(itf_id) {
          alert($SCRIPT_ROOT + '/member/' + itf_id);
          $.get($SCRIPT_ROOT + '/member/' + itf_id);
      };
      function addToCompetition() {
          var ids = [];
          $("input:checkbox:checked").each(function(data){
              var $this=$(this);
              ids.push($this.attr("id"));
          })
          //alert(ids.toString());
          $.getJSON(
                  $SCRIPT_ROOT + '/_add_to_competition',
                  data = { "id":ids },
                  function (data) { alert("Úspěšně přihlášeno na soutěž " + ids.length + " členů");}
          )
      };
    </script>
{% endblock %}
{% block page_title %}Členové klubu {{team}}{% endblock %}
{% block body %}
    {% if session.logged_in %}
        <script>
            $(document).ready(function () {
                $('#example').dataTable( {
                   language: {
                        "sEmptyTable":     "Tabulka neobsahuje žádná data",
                        "sInfo":           "Zobrazuji _START_ až _END_ z celkem _TOTAL_ záznamů",
                        "sInfoEmpty":      "Zobrazuji 0 až 0 z 0 záznamů",
                        "sInfoFiltered":   "(filtrováno z celkem _MAX_ záznamů)",
                        "sInfoPostFix":    "",
                        "sInfoThousands":  " ",
                        "sLengthMenu":     "Zobraz záznamů _MENU_",
                        "sLoadingRecords": "Načítám...",
                        "sProcessing":     "Provádím...",
                        "sSearch":         "Hledat:",
                        "sZeroRecords":    "Žádné záznamy nebyly nalezeny",
                        "oPaginate": {
                            "sFirst":    "První",
                            "sLast":     "Poslední",
                            "sNext":     "Další",
                            "sPrevious": "Předchozí"
                        },
                        "oAria": {
                            "sSortAscending":  ": aktivujte pro řazení sloupce vzestupně",
                            "sSortDescending": ": aktivujte pro řazení sloupce sestupně"
                        }
                    }
                } );
            });
        </script>
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>ID ITF</th>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Pohlaví</th>
                <th>Datum narození</th>
                <th>Stupeň</th>
                {% if show_competition_sign_in %}
                <th>Přihlásit</th>
                {% endif %}
                <th>Akce</th>
            </tr>
            </thead>
            <tbody>
            {% for competitor in competitors %}
            <tr id="{{competitor.itf_id}}">
                <td>{{ competitor.itf_id }}</td>
                <td>{{ competitor.first_name }}</td>
                <td>{{ competitor.last_name|safe }}</td>
                <td>{{ competitor.sex }}</td>
                <td>{{ competitor.birthdate }}</td>
                <td>{{ competitor.level }}</td>
                {% if show_competition_sign_in %}
                <td align="center">
                    <div class="checkbox">
                        <label><input type="checkbox" {{is_signed_in[competitor.itf_id]}} id="{{competitor.itf_id}}"></label>
                    </div>
                </td>
                {% endif %}
                <td align="center">
                    <button class="glyphicon glyphicon-edit" onclick="edit_member({{competitor.itf_id}})"></button>&nbsp;&nbsp;&nbsp;
                    <button class="glyphicon glyphicon-remove-sign" onclick="delMember({{competitor.itf_id}})"></button>
                </td>
            </tr>
            {% else %}
            <em>Před nahlášením na soutěž přidejte členy svého klubu.</em>
            {% endfor %}
            </tbody>
        </table>
        <div align="center">
            <br/>
            <a href="{{url_for("add_member")}}">
                <button type="button" class="btn btn-info">Přidat člena</button>
            </a>
            {% if show_competition_sign_in %}
            <button type="button" class="btn btn-info" onclick="addToCompetition()">Přihlásit na soutěž</button>
            {% endif %}
        </div>
        <br/><br/><br/>
        {% endif %}
    {% endblock %}


