<!DOCTYPE html>
<html lang="en">

<head>
    <title>ITF Takwon-Do Registrace</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="header">
        <h3><a href="{{ url_for('show_all') }}">Comments - Flask SQLAlchemy example</a></h3>
    </div>

    <hr/>
    {%- for message in get_flashed_messages() %}
    {{ message }}
    {%- endfor %}

    <h3>Students (<a href="{{ url_for('new') }}">Add Student
    </a>)</h3>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Address</th>
            <th>Pin</th>
        </tr>
        </thead>

        <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.city }}</td>
            <td>{{ student.addr }}</td>
            <td>{{ student.pin }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <footer class="footer">
        <p>&copy; Česká Asociace Takwon-Do 2016</p>
    </footer>

</div>
</body>
</html>
